img {
  width: 100%;
}

h4 {
  height:35px;
  font-size: 17px;
  overflow: hidden;
}

.jumbotron .container {
  max-width: 100%;
}

.height {
  height: 380px;
}

height:nth-last-child(-n+6) {
  height: 10px;
}

.thumbnail {
  height: 220px;
}

.thumbnail2 {
  width: 300px;
  height: 400px;
}
